<!DOCTYPE html>
<html>
<head>
    <title>House Price Predictor</title>
</head>
<body>
    <h2>House Price Prediction Form</h2>
    <form action="/predict" method="POST">
        <label>Average Area Income:</label>
        <input type="text" name="income" required><br><br>

        <label>Average Area House Age:</label>
        <input type="text" name="age" required><br><br>

        <label>Average Number of Rooms:</label>
        <input type="text" name="rooms" required><br><br>

        <label>Average Number of Bedrooms:</label>
        <input type="text" name="bedrooms" required><br><br>

        <label>Area Population:</label>
        <input type="text" name="population" required><br><br>

        <input type="submit" value="Predict">
    </form>

    {% if prediction_text %}
        <h3>{{ prediction_text }}</h3>
    {% endif %}
</body>
</html>
